@use '../../Colors.scss' as c;

.ContactBar {
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  background: c.$primary-color-green;
  color: white;
  width: 100%;
  z-index: 2;
  justify-content: center;
  border: 1px solid c.$primary-color-green;
  gap: 1px;

  &__item {
    display: flex;
    gap: 1rem;
    padding: clamp(0.2rem, 2vw, 1rem);
    background: white;
    color: c.$primary-color-green;
    flex-grow: 1;
    max-width: 300px;
    justify-content: center;
  }
}
