@use "src/Colors" as c;
@use "src/Globals";

.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &__section {
    width: 100vw;

    &__header {
      font-size: clamp(1.8rem, 5vw, 2.5rem);
      color: white;
      display: flex;
      justify-content: center;
      padding: 2rem;
      border-left: 2vw solid c.$primary-color-blue;
      border-bottom: 0.5vw solid c.$primary-color-blue;
      border-top: 1px solid c.$primary-color-blue;
      border-right: 2vw solid c.$primary-color-blue;
      font-weight: 700;
      width: 100%;
      margin: auto;
      background: linear-gradient(
        90deg,
        c.$primary-color-blue 1%,
        rgba(c.$primary-color-blue, 0.8) 50%,
        c.$primary-color-blue 100%
      );
      box-shadow: 0 2px 4px 2px c.$primary-color-gray;
    }

    &__subheader {
      font-size: clamp(1.4rem, 5vw, 2rem);
      display: flex;
      justify-content: center;
      padding: 5rem 1rem;
      color: c.$primary-color-black;
      font-weight: 700;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
      margin: 3rem auto;

      &__item {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 1.8rem;
        margin: 1rem;
        padding: 2rem 1rem;
        border: 2px solid c.$primary-color-black;
        border-radius: 5px;
        width: clamp(250px, 100%, 500px);
        transition: all 0.25s ease-in-out;

        i {
          transition: all 0.25s ease-in-out;
        }
      }
    }

    &__cta {
      background: white;
      border: 2px solid c.$primary-color-blue;
      color: c.$primary-color-blue;
      padding: 1rem;
      border-radius: 5px;
      margin: 3rem auto;
      display: flex;
      font-size: 1.2rem;
      cursor: pointer;
      transition: all 0.15s ease-in-out;

      &:hover {
        background: c.$primary-color-blue;
        color: white;
        border: 2px solid c.$primary-color-blue;
      }
    }
  }

  &__hero {
    display: flex;
    flex-direction: column;
    font-size: clamp(24px, 6vw, 54px);
    font-weight: 700;
    width: 100vw;
    position: relative;

    &__img {
      min-height: 500px;
      background: url("../../assets/imagination-optimized.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      height: calc(100vh - (153px + 1rem + 4px));
      background-position: 15% 80%;
    }

    span {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      color: #eee;
      font-weight: 900;
      padding: 10vh 10px;
      font-size: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(c.$primary-color-black, 0.9);
      text-align: center;
      box-shadow: -2px 2px 4px c.$primary-color-black;

      @media screen and (min-width: 796px) {
        font-size: 5rem;
        box-shadow: none;
      }

      @media screen and (min-width: 1100px) {
        width: 45%;
        background: none;
        left: 50%;
        font-size: 7rem;
        text-align: left;
      }
    }
  }

  // Techniques
  &__techniques {
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
      margin: 3rem auto;
      max-width: 1300px;

      &__item {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 1.8rem;
        margin: 1rem;
        padding: 2rem 1rem;
        border: 2px solid c.$primary-color-black;
        border-radius: 5px;
        transition: all 0.25s ease-in-out;
        flex-direction: column;
        width: clamp(300px, 100%, 600px);

        &__header {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 1rem;
          margin-right: auto;
        }

        &__content {
          display: grid;
          place-content: center left;
          flex-grow: 1;
          font-size: 1.3rem;
          background: c.$primary-color-blue;
          color: white;
          padding: 2rem 1rem;
          text-align: left;
          border-radius: 5px;
          width: 100%;
        }
      }
    }

    &__colors {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      margin: 5rem 0;

      span {
        font-size: clamp(16px, 5vw, 32px);
        color: c.$primary-color-blue;
        text-align: center;
      }

      &__bullets {
        display: flex;
        justify-content: space-around;
        width: clamp(60px, 25vw, 180px);

        span {
          font-size: 6rem;
          margin: -4vh 0;
        }
      }

      img {
        aspect-ratio: 971 / 777;
        width: clamp(200px, 75%, 1000px);
      }
    }
  }

  // Services
  &__services {
    &__list {
      &__item {
        display: flex;
        flex-direction: column;
        padding: 0;
        width: clamp(300px, 100%, 600px);
        gap: 0;

        &__header {
          background: c.$primary-color-blue;
          color: white;
          width: 100%;
          text-align: center;
          padding: 0.5rem;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
        }

        &__content {
          font-size: 1.2rem;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          position: relative;
          width: 100%;
          height: 100%;
          min-height: 250px;

          &__prices {
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            overflow-y: hidden;
            justify-content: space-between;
            padding: 0.5%;
          }

          span {
            text-align: center;
            background: c.$primary-color-black;
            color: white;
            padding: 20px;
            border-radius: 5px;
            outline: 2px solid white;
            outline-offset: -10px;
            width: clamp(150px, 40%, 500px);
            border: 3px solid white;
            align-items: center;
            display: flex;
            height: 100%;
            font-size: clamp(12px, 2vw, 1.3rem);
          }

          img {
            width: clamp(200px, 75%, 1000px);
            background: c.$primary-color-black;
            padding: clamp(5px, 1rem, 30px);
            padding-right: 0;
          }
        }
      }
    }

    &__showcase {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      border-top: 3rem solid c.$primary-color-blue;
      padding: clamp(5rem, 3vh, 30px) 0;
      margin: clamp(1rem, 5vh, 40px) 0;

      &::before {
        content: "SHOWCASE";
        font-size: clamp(16px, 5vw, 2rem);
        position: absolute;
        top: -3rem;
        left: 50%;
        transform: translateX(-50%);
        border-top: none;
        border-bottom-left-radius: 3rem;
        border-bottom-right-radius: 3rem;
        padding: 20px clamp(3rem, 15vw, 1200px);
        background: c.$primary-color-blue;
        color: white;
        font-weight: 700;
        outline: 5px solid white;
      }

      span {
        text-align: center;
        color: c.$primary-color-green;
      }

      &__img {
        display: flex;
        flex-direction: column;

        span {
          background: c.$primary-color-black;
          color: c.$primary-color-green;
          padding: clamp(5px, 1rem, 20px) 0;
          font-size: clamp(16px, 4vw, 2rem);
          font-weight: 300;
          letter-spacing: 2px;
        }

        img {
          aspect-ratio: 971 / 777;
          width: clamp(300px, 50vw, 800px);
          border: 8px double c.$primary-color-black;
        }
      }

      &__content {
        width: clamp(300px, 50vw, 400px);
        background: linear-gradient(
          180deg,
          c.$primary-color-black,
          c.$primary-color-gray
        );
        border-right: 3px solid c.$primary-color-black;
        border-bottom: 3px solid c.$primary-color-black;
        border-left: 3px solid c.$primary-color-black;
        color: white;
        display: flex;
        align-items: center;

        @media screen and (min-width: 600px) {
          border-left: none;
        }

        p {
          padding: 1rem;
          max-width: 60ch;
          line-height: 1.4;
          font-size: clamp(12px, 2vw, 20px);
        }
      }

      > span {
        padding: clamp(10px, 10vw, 3rem) clamp(5px, 2vw, 3rem);
        margin: clamp(10px, 4vh, 30px) clamp(5px, 2vw, 3rem);
        color: c.$primary-color-green;
        background: c.$primary-color-gray;
        font-size: clamp(1.3rem, 5vw, 36px);
        border-radius: 5px;
        width: 100%;
      }
    }
  }

  // About
  &__About {
    display: flex;
    flex-direction: column;

    &__subheader {
      font-weight: 500;
      padding: 3rem 10%;
      margin: auto;
      font-size: clamp(16px, 2vw, 1.4rem);
      max-width: 75ch;

      @media screen and (min-width: 796px) {
        line-height: 1.3;
      }
    }
  }
}
