$primary-color-blue: #006da9;
// $primary-color-green: #00c342;
$primary-color-green: #008a09;
// $primary-color-black: #333;
$primary-color-black: #2e2e2e;
$primary-color-gray: #4b4d53;
$primary-color-red: #c90000;

$secondary-color-gray: #f3f3f3;
